body {
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-family: Arial, Helvetica, sans-serif;
}
.Butterflies {
  border-radius: 10px;
  background-color: #34aa8c;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  color: rgb(255, 255, 255);
  padding: 10px;
}
img {
  border-radius: 10px;
  height: 500px;
  width: 80%;
}
p {
  color: rgb(255, 255, 255);
  font-size: larger;
  text-align: justify;
}
header {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto; /* Creates three columns */
  grid-gap: 10px; /* Adjust the gap between elements */
  align-items: center; /* Vertically center content */
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 50px;
  border-radius: 5px;
}
button {
  margin: 5px;
  background-color: #2e5eaa;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: medium;
  padding: 10px;
}
a {
  color: white;
  text-decoration: none;
}
#top {
  margin-top: 10px;
  margin-bottom: 10px;
}
.butterfly-text {
  margin: 20px;
}
#logo {
  height: 60px;
  width: 48px;
  margin-left: 20px;
  margin-right: 20px;
}
#left,
#right {
  text-align: right; /* Right-align text in left and right divs */
  display: flex;
}

/* Style individual elements if needed */
#middle {
  display: flex;
  justify-content: center;
}
#user {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-left: 130px;
}
#Header-Name {
  color: rgb(255, 255, 255);
}
#AOTD {
  background-color: red;
}
.current {
  background-color: rgb(54, 255, 44);
  color: black;
  font-weight: bold;
}
